---
---

@import "{{ site.theme }}";

body {
  background: rgb(40, 40, 40);
  color: white;
}

.page-header {
  background-color: #6A48F1;
  background-image: linear-gradient(120deg, #DA54BA, #6A48F1);
  .btn {
    display: none !important;
  };
}

.main-content {

  h4 code {
    font-size: 1rem;
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;
    border-collapse: separate;

    th {
      font-weight: bold;
      background-color: $section-headings-color;
      border-top: 1px solid $table-border-color;
      color: #fff;

      &:first-child {
        border-top-left-radius: 8px;
      }

      &:last-child {
        border-top-right-radius: 8px;
      }
    }

    tr {
      &:nth-child(even) {
        background-color: #3c3c3c;
      }

      &:last-child {
        td:first-child {
          border-bottom-left-radius: 8px;
        }

        td:last-child {
          border-bottom-right-radius: 8px;
        }
      }
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border-bottom: 1px solid $table-border-color;

      &:first-child {
        border-left: 1px solid $table-border-color;
      }

      &:last-child {
        border-right: 1px solid $table-border-color;
      }
    }

    td {
      a {
        color: #8958ff;
      }
    }

    th {
      background-color: #55369D;
    }

  }

  li code {
    color: white !important;
    background-color: rgb(80, 80, 80) !important;
  }

  .site-footer {
    display: none !important;
    padding-top: 0;
    border-top: 0;

    .site-footer-credits {
      display: none !important;
    }
  }

}